.help-block{
    width: 100%;
    padding: 5px;
    background: red;
    color: #fff;
    border-radius: 5px;
}
.has-error-input{
    border:.5px solid red !important;
}
.label-activo{
    background: #00aaaa;
}
.label-inactivo{
    background: #9d1e15;
}
.form-inline{
    display: inline-block;
}
